<table class="table table-hover">
{% for tweet in tweets %}
      <tr valign="top">
          <td><img src="{{ tweet.author.avatar(48) }}" alt=""></td>
          <td>
            <a href="/{{ tweet.author.username }}"><b>{{ tweet.author.username }}   </b></a>
            {{ tweet.create_time }}<br>
            {{ tweet.body }}<br>
            {% if tweet.author == current_user %}
              tweet id = {{ tweet.id }}
              <form action="" method="POST">
                {{ delete_tweet_form.hidden_tag() }}
                <input type="hidden" name = "tweet_id" value="{{ tweet.id }}">
                <input type="submit" name = "tweet_delete" value = "Delete" onclick="return confirm('Are you sure?');">
              </form>
            {% endif %}
          </td>
      </tr>
{% endfor %}
</table>