<table>
{% for tweet in tweets %}
      <tr valign="top">
          <td><img src="{{ tweet.author.avatar(48) }}" alt=""></td>
          <td>
            <a href="/{{ tweet.author.username }}"><b>{{ tweet.author.username }}   </b></a>
            {{ tweet.create_time }}<br>
            {{ tweet.body }}<br>
            {% if tweet.author == current_user %}
              tweet id = {{ tweet.id }}
              <form action="" method="POST">
                {{ delete_tweet_form.hidden_tag() }}
                {{ delete_tweet_form.delete_tweet_button() }}
              </form>
            {% endif %}
          </td>
      </tr>
{% endfor %}
</table>