<!-- jQurey CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.js"
integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
crossorigin="anonymous"></script>

<table class="table table-hover">
{% for tweet in tweets %}
      <tr valign="top">
          <td><img src="{{ tweet.author.avatar(48) }}" alt=""></td>
          <td class="col-md-8 align-left">
            <a href="/{{ tweet.author.username }}"><b>{{ tweet.author.username }}   </b></a>
            {{ tweet.getTaiwanTime().strftime("%Y/%m/%d %H:%M:%S") }}<br>
            {{ tweet.body }}<br>
            {% if current_user.permission == 'editor' %}
            {% if tweet.author == current_user %}
              <form action="" method="POST">
                {{ delete_tweet_form.hidden_tag() }}
                <input type="hidden" name = "tweet_id" value="{{ tweet.id }}">
                <button class="btn-secondary" type="submit" name = "tweet_delete" value="Delete" onclick="return confirm('Are you sure?');">Delete</button>
              </form>
            {% endif %}
            {% endif %}
            {% if current_user.permission == 'admin' %}
              <form action="" method="POST">
                {{ delete_tweet_form.hidden_tag() }}
                <input type="hidden" name = "tweet_id" value="{{ tweet.id }}">
                <button class="btn-secondary" type="submit" name = "tweet_delete" value="Delete" onclick="return confirm('Are you sure?');">Delete</button>
              </form>
            {% endif %}
          </td>
          <td>
            <a id="test">
              <b>Total tweets</b>
            </a>
          </td>
      </tr>
{% endfor %}
</table>

<script>
  $("#test").html("<b>TTTTTTTTTTTEEEEEEEEEE</b>");
</script>