<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Bootstrap CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  <!-- jQurey CDN -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Welcome to Twittor</title>
  {% endif %}
</head>
<body style="background-color: #f3f8ff;">
  <script>
    function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
    }
  </script>
  <div class="sticky-top d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a class="p-2 text-dark my-0 mr-md-auto font-weight-normal" href="{{ url_for('index') }}">Twittor</a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="{{ url_for('explore') }}">Explore</a>
    </nav>
    {% if current_user.is_anonymous %}
    <a class="btn btn-outline-primary" href="{{ url_for('login') }}">Login</a>
    {% else %}
    <a class="btn btn-outline-primary" href="{{ url_for('logout') }}" onclick="signOut();">Logout</a>
    {% endif %}
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  {% block content %} {% endblock %}
</body>
</html>